extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement
include ../../mixins/video-small

//- INTRO
block intro

	//- HERO
	if !meetup
		h2.text-center You've just deployed a new site! Go add some data :)
	else
		article#hero.hero-meetup.hero-meetup--next
			
			//- Intro
			section.hero-intro.hero-intro--hasmask
				.hero-background
					img(src='/images/placeholders/new-york.png')
				.hero-intro-content
					h1.title NYCNode
					h5.subtitle #{meetup.state == 'active' ? 'Next' : 'Last'} Meetup
					a.title(href="/meetups/" + meetup.key)
						h1.title= meetup.name
					p.byline: strong #{meetup._.startDate.format('ddd, DD MMM YYYY')} &#8212; #{meetup._.startDate.format('h:mma')} - #{meetup._.endDate.format('h:mma')}
					p.byline @ #{meetup.place}

			//- Videos
			section.hero-details: .container
				h1.title.text-center Latest Videos
				h3.text-center Check out a few of our latest talks. Find even more in our&nbsp;
					a(href="/videos") videos
					span&nbsp;section.
				.row
					div(class= videos.length || ! videos.length ? 'col-md-offset-1 col-md-10' : 'col-md-10 col-md-offset-1')
						.video-cards.row(itemscope itemtype="http://schema.org/VideoObject")
							each video in videos
								+video(video)

//- BODY
block content
	.page-content
		
		//- About
		article.section.section--featured.home-about: .container
			h2 In New York and into Node.js and Javascript?  
			h2: a(href="http://www.meetup.com/nodejs/join/") Join NYCNode!
			.row: .col-sm-8.col-sm-offset-2
				p.lead 
					| NYCNode is the 
					a(href="http://meetup.com/nodejs") NYC Node.js Meetup!&nbsp;
					| We meet every third Wednesday of the month to talk about the cutting edge of JavaScript and the Node.js community.

			if !user
				.row: .col-sm-4.col-sm-offset-4
					a(href='http://www.meetup.com/nodejs/join').btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Join NYCNode now
					//- a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
					//- 	span.text-caps Join NYCNode now
			p.mt-1
				a(href='/about') Learn more about NYCNode
				//- |  &nbsp;&middot;&nbsp; 
				//- a(href='/members') Find your friends in NYCNode
			p.mt-1: a(href="https://twitter.com/nycnode", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @nycnode
//- JS
block js

	if meetup
		script.
			NYCNode.currentMeetupId = !{JSON.stringify(meetup.id)};
	if user
		script.
			NYCNode.user = !{JSON.stringify(user)};

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
